# https://github.com/YosysHQ/icestorm/blob/master/examples/icebreaker/icebreaker.pcf

# 12 MHz clock
set_io -nowarn CLK        35

# RS232
set_io -nowarn RX          6
set_io -nowarn TX          9

# LEDs and Button
set_io -nowarn BTN_N      10
set_io -nowarn LEDG_N     37

# PMOD 2
set_io -nowarn led_o[0]       27
set_io -nowarn led_o[1]       25
set_io -nowarn led_o[2]       21
set_io -nowarn led_o[4]       26
set_io -nowarn led_o[3]       23

# PMOD 1A
set_io -nowarn ssd_o[0]                 4
set_io -nowarn ssd_o[1]                 2
set_io -nowarn ssd_o[2]                47
set_io -nowarn ssd_o[3]                45
set_io -nowarn ssd_o[4]                 3
set_io -nowarn ssd_o[5]                48
set_io -nowarn ssd_o[6]                46
set_io -nowarn ssd_o[7]                44
